node_modules/
uploads/
.env
firebase-key.json
**/*firebase-admin*.json
**/*service-account*.json
npm-debug.log*
yarn-error.log*
dist/
.env
infra/valhalla/custom_files/*
!infra/valhalla/custom_files/.gitkeep
